<!DOCTYPE html>
<html lang="es" xmlns="http://www.thymeleaf.org">

<body>
    
</body>
     <!-- FOOTER SECTION -->
     <footer class="section">
        <div class="container">
            <div class="row">
                <div class="col-4 col-md-6 col-sm-12">
                    <div class="content">
                        <a href="/index" class="logo">
                            <i class='bx bx-movie-play bx-tada main-color'></i>Gru<span class="main-color">po</span>05
                        </a>
                    <p>Trabajo practico final de Programacion Visual 2022</p><p>Profesor: <a href="https://github.com/gustso" target="_blank">Gustavo Sosa</a></p>
                        <p>Pagina web para un cine, en donde se podra comprar entradas, registrar usuarios de tipo admin y cliente, subir peliculas y mostrarlas en el inicio</p>
                    </div>
                </div>
                <div class="col-8 col-md-6 col-sm-12">
                    <div class="row">
                        <div class="col-3 col-md-6 col-sm-6">
                            <div class="content">
                                <p><b>Integrantes</b></p>
                                <ul class="footer-menu">
                                    <li><a href="https://github.com/Leonel19hub" target="_blank">Coraite Facudno</a></li>
                                    <li><a href="https://github.com/dzeko404" target="_blank">Ramos Flores</a></li>
                                    <li><a href="https://github.com/SolGuari" target="_blank">Guari Sol</a></li>
                                    <li><a href="https://github.com/IgnacioGareca156" target="_blank">Gareca Ignacio</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- END FOOTER SECTION -->
</html>