<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap"
        rel="stylesheet">
    <!-- BOX ICONS -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <!-- APP CSS -->
    <link rel="stylesheet" href="../static/css/app.css" th:href="@{/css/app.css}">
    <link rel="stylesheet" href="../static/css/grid.css" th:href="@{/css/grid.css}">
    <link rel="stylesheet" href="../static/css/detallesPelicula.css" th:href="@{/css/detallesPelicula.css}">
    
    <title th:text="${movie.nombrePelicula}"></title>
</head>
<body>

    <div th:insert="/layout/header :: header"></div><br>

    <div class="container-details-movie">
        <div class="details-movie-header">
            <h1 th:text="${movie.nombrePelicula
            }"></h1>
        </div>
        <div class="details-movie-body">
            <div class="movie-trailer-info">
                <!-- <div class="trailer" th:value="${movie.trailer}"> embed/E5xC9i_1vvY -->
                <div class="trailer">
                    <iframe width="510" id="trailerMovie" height="265" src="" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
                </div>
                <div class="info">
                    <div class="info-title">
                        <h4>Informacion de Cine</h4>
                    </div>
                    <div class='info-date'>
                        <div class="date">Sala</div>
                        <div class="date-content" th:text="'N°  '+${movie.sala}"></div>
                    </div>
                    <div class="info-date">
                        <div class="date">Fecha Estreno</div>
                        <div class="date-content" th:text="${movie.fechaInicio}"></div>
                    </div>
                    <div class="info-date">
                        <div class="date">Ultima Fecha</div>
                        <div class="date-content" th:text="${movie.fechaFinal}"></div>
                    </div>
                    <div class="info-date">
                        <div class="date">Horarios</div>
                        <div class="row-time">
                            <div class="time-movie" th:text="${movie.horario1}"></div>
                            <div class="time-movie" th:text="${movie.horario2}"></div>
                            <div class="time-movie" th:text="${movie.horario3}"></div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
        <div class="movie-info">
            <div class="img">
                <!-- <img th:src="@{/img/movies/doctor-strange-2-poster.jpg}" src="../static/img/movies/transformer.jpg" alt="">  -->
                <img th:src="${'data:image/png;base64,'+movie.portada}" alt="" />
            </div>
            <div class="movie-info-complete">
                <div class="movie-info-item">
                    <div class="h4">Titulo de Pelicula:</div><span th:text="${movie.nombrePelicula}"></span>
                </div>
                <div class="movie-info-item">
                    <div class="h4">Genero:</div><span th:text="${movie.tipo}"></span>
                </div>
                <div class="movie-info-item">
                    <div class="h4">Duracion:</div><i class="bx bxs-time"></i><span th:text="${movie.duracion} + ' min'"></span>
                </div>
                <div class="movie-info-item">
                    <div class="h4">Rating:</div><span th:text="${movie.rating}"><i class="bx bxs-star"></i></span>
                </div>
                <div class="movie-info-item">
                    <div class="h4">Sinopsis:</div><span th:text="${movie.descripcion}"></span>
                </div>
                <div class="buy-button">
                    <a href="/nuevaCompraTicket" class="button button-hover">
                        <i class="bx bxs-right-arrow"></i>
                        <span>Comprar Boleto</span>
                    </a>
                </div>
                
                </div>
        </div>
            <!-- <div class="buy-button">
                <div class="item-action top-down delay-6">
                    <a href="#" class="button button-hover">
                        <i class="bx bxs-right-arrow"></i>
                        <span>Comprar Boleto</span>
                    </a>
                </div>
            </div> -->
        </div>
    </div>

    <div th:insert="/layout/footer :: footer"></div>

    <script>
        // document.getElementById("trailerMovie").src="${movie.trailer}";
        var linkTrailer = "[[${linkMovie}]]";
        console.log(linkTrailer);
        document.getElementById("trailerMovie").src=linkTrailer;
        
    </script>


	<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}" type="text/javascript"
		src="webjars/jquery/3.6.0/jquery.min.js"></script>
	<script th:src="@{/webjars/bootstrap/5.0.2/js/bootstrap.min.js}" type="text/javascript"
		src="webjars/bootstrap/5.0.2/js/bootstrap.min.js"></script>

</body>
</body>
</html>